* {
    margin: 0;
    padding: 0;
}

input{
    background-color: white;
}


nav {
    background-color: #ae88dd;
    display: flex;
    justify-content: center;
    align-items: center;
} 

nav a {
    color: RGB(18 9 38);
    margin: 0 20px 0 20px;
}

.fifth .portraits {
    flex-direction: row;
}

.fifth .portraits p {
 color: #ae88dd}

 .fifth .portraits h3 {
    color: purple;
    background-color: #ae88dd;
}

body {
    background-color: #bb93ec;
}

.top3games .unitedtop img {
    width: 300px;
}

.fifth .portraits img {
    width: 70px;
    height: 70px;;
}

.fifth .portraits{
    display: flex;
    flex-direction: row;

}
.fifth .portraits .person1{
    padding: 0 20px 0 20px;
}

.fifth .portraits .person2{
    padding: 0 20px 0 20px;
}
.fifth .portraits .person3{
    padding: 0 20px 0 20px;
}

.top3games .unitedtop{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ae88dd;
}
.top3games h3{
    order: ;
    display: flex;
    justify-content: center;
    padding: 0 0 25px 0;
}

.download-games .wrapper{
    align-items: ;
    background-color: #ae88dd;
}
button{
    width: 50px;
    height: 30px;
}